{% include 'header.html' %}
    <div class="container">
      <div class="col-xs-10 col-xs-offset-1">
        <h2 class="text-center">About DroneWx</h2>
          <p>First off, the limitations. DroneWx is provided without any guarantee of the information, and should not be used as the sole source of preflight information. I'm not just saying that, I really mean it. The flight restriction information is not provided by the FAA, it's scraped off their website. There are limitations in that process that may cause flight restrictions to not show up in a search. If you have any doubts, always call flight service at 1-800-WX-BRIEF for a real briefing.</p>
          <p>I made DroneWx for a variety of reasons. I think it's lame drone pilots are expected to comply with regulations, but they're not given the resources to easily do so. I also wanted to try developing something and write about it at the same time. You can see the history in my <a href="http://jungrothmorton.com/">blog</a>. Finally, I'm looking for a job. This is a nice small project that shows I can take something from beginning to end. If you know of any Python development or sales engineering jobs in San Francisco, <a href="http://jungrothmorton.com/contact">shoot me an e-mail</a>. You can <a href="http://github.com/JungrothMorton/DroneWx">see the code yourself</a> on GitHub.</p>
          <p>I want to thank all the awesome people that make their software free. I can never say I did a project like this alone, considering all the help I got from people who will never know it.</p>
      </div>
    </div><!-- /.container -->
{% include 'footer.html' %}
