{% include 'header.html' %}
    <div class="container">
      <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4">
        <div class="panel panel-default">
          <div class="panel-body">
            Like this site? <a href="http://jungrothmorton.com/about">I'm looking</a> for a software job in San Francisco!
          </div>
        </div>
        {% if weather %}
        <div class="panel-group">
          <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#current-weather">
              <h3 class="panel-title">Current Weather</h3>
            </div>
            <div id="current-weather" class="panel-collapse collapse in">
              <div class="panel-body">
                <h5>{{ weather.current.time }}</h5>
                <p>
                  Wind: {{ weather.current.wind }}<br />
                  Temperature: {{ weather.current.temperature }}<br />
                  Dew Point: {{ weather.current.dewPoint }}<br />
                  Cloud Cover: {{ weather.current.cloudCover }}<br />
                  Est. Cloud Base: {{ weather.current.cloudBase }}<br />
                  Visibility: {{ weather.current.visibility }}<br />
                  Chance of Precip: {{ weather.current.precipProbability }}<br />
                </p>
                <a href="http://forecast.io/" class="label label-default">Powered by Forecast</a>
              </div>
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#hourly-weather">
              <h3 class="panel-title">Forecast by Hour</h3>
            </div>
            <div id="hourly-weather" class="panel-collapse collapse">
              <div class="panel-body">
                <p>{{ weather.hourlySummary }}</p>
              </div>
              {% for hour in weather.hourly %}
              <div class="panel-body">
                <h5>{{ hour.time }}</h5>
                <p>
                  Wind: {{ hour.wind }}<br />
                  Temperature: {{ hour.temperature }}<br />
                  Dew Point: {{ hour.dewPoint }}<br />
                  Cloud Cover: {{ hour.cloudCover }}<br />
                  Est. Cloud Base: {{ hour.cloudBase }}<br />
                  Visibility: {{ hour.visibility }}<br />
                  Chance of Precip: {{ hour.precipProbability }}<br />
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading" data-toggle="collapse" data-target="#daily-weather">
              <h3 class="panel-title">Forecast by Day</h3>
            </div>
            <div id="daily-weather" class="panel-collapse collapse">
              <div class="panel-body">
                <p>{{ weather.dailySummary }}</p>
              </div>
              {% for day in weather.daily %}
              <div class="panel-body">
                <h5>{{ day.time }}</h5>
                <p>
                  Wind: {{ day.wind }}<br />
                  High: {{ day.temperatureMax }}<br />
                  Low: {{ day.temperatureMin }}<br />
                  Cloud Cover: {{ day.cloudCover }}<br />
                  Visibility: {{ day.visibility }}<br />
                  Chance of Precip: {{ day.precipProbability }}<br />
                  Sunrise: {{ day.sunriseTime }}<br />
                  Sunset: {{ day.sunsetTime }}<br />
                </p>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        {% endif %}
        {% if tfrs %}
        <div class="panel panel-danger">
          <div class="panel-heading" data-toggle="collapse" data-target="#tfr-info">
            <h3 class="panel-title">Flight Restrictions In Your Area</h3>
          </div>
          <div id="tfr-info" class="panel-collapse collapse in">
            <div class="panel-body">
              <h4><strong>Warning: DroneWx is <em>not</em> an official source of information for flight restrictions. Call Flight Service at 1-800-WX-BRIEF for a briefing.</strong></h4>
              {% for tfr in tfrs %}
              <h4>{{ tfr.city }}, {{ tfr.state.title() }}</h4>
              <p>Effective: {{ tfr.effective }}<br />
                Expires: {{ tfr.expire }}</p>
                {% if tfr.instructions %}
                <ul>
                  {% for instruction in tfr.instructions %}
                  <li>{{ instruction }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
              {% endfor %}
            </div>
          </div>
        </div>
        {% else %}
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">No Flight Restrictions found within {{ distance }} miles.</h3>
          </div>
        </div>

        {% endif %}

        {% if airports %}
        <div class="panel panel-warning">
          <div class="panel-heading" data-toggle="collapse" data-target="#airport-info">
            <h3 class="panel-title">Airports In Your Area</h3>
          </div>
          <div id="airport-info" class="panel-collapse collapse in">
            <div class="panel-body">
              {% for airport in airports %}
              <p>{{ airport.airport.name }} {{ airport.distance }} miles {{ airport.direction }}<br />
                {{ airport.airport.facility_type }} <br />
              {{ airport.airport.phone_number }}</p>
              {% endfor %}
            </div>
          </div>
        </div>
        {% else %}
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">No airports found within {{ distance }} miles.</h3>
          </div>
        </div>
        {% endif %}

      </div>
    </div><!-- /.container -->
{% include 'footer.html' %}
